// Windows resources: application icon and version information.
#include <windows.h>

IDI_ICON1 ICON "sealteam.ico"

VS_VERSION_INFO VERSIONINFO
 FILEVERSION 0,5,3,0
 PRODUCTVERSION 0,5,3,0
 FILEOS VOS_NT_WINDOWS32
 FILETYPE VFT_APP
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904b0"
        BEGIN
            VALUE "FileDescription", "SEAL Team source port"
            VALUE "ProductName", "SEAL Team source port"
            VALUE "FileVersion", "0.5.3"
            VALUE "ProductVersion", "0.5.3"
            VALUE "OriginalFilename", "sealteam.exe"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x409, 1200
    END
END
